<div id="<%= dom_id user %>">

  <p>
    <strong>Uid:</strong>
    <%= user.uid %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= user.provider %>
  </p>

  <p>
    <strong>Orcid:</strong>
    <%= user.orcid %>
  </p>

  <p>
    <strong>Given name:</strong>
    <%= user.given_name %>
  </p>

  <p>
    <strong>Family name:</strong>
    <%= user.family_name %>
  </p>

  <p>
    <strong>Display name:</strong>
    <%= user.display_name %>
  </p>

</div>

<% if user.tokens.count > 0 %>
  <div id="user-tokens">
    <br/>
    <b>ORCiD tokens</b>
    <ul>
      <% user.tokens.each do |token| %>
        <li><%= token.token_type %>, <%= token.expiration %>, <%= token.scope %></li>
      <% end %>
    </ul>
    <br/>
  </div>
<% end %>
