<div id="<%= dom_id user %>">
  <p>
    <div class="orcid_identifier">
    <strong>Orcid:</strong>
    <%= image_tag("ORCIDiD_icon32x32.png", options = {}) %>
      <%= user.orcid %>
    </div>
  </p>
</div>

<% if user.tokens.count > 0 %>
  <div id="user-tokens">
    <br/>
    <b>ORCiD tokens</b>
    <ul>
      <% user.tokens.each do |token| %>
        <li><%= token.token_type %>, <%= token.expiration %>, <%= token.scope %></li>
      <% end %>
    </ul>
    <br/>
  </div>
<% end %>
