<p style="color: green"><%= notice %></p>
<h2>Welcome, <%= @user.display_name %></h2>


This application is asking you to add Princeton University as a <%= link_to "Trusted Organization", "https://support.orcid.org/hc/en-us/articles/360006973893" %>.  
This will allow Princeton University to read your ORCID record and add information to it.

This button does not work: 
 <%= button_to "Log In", user_orcid_omniauth_authorize_path, class: "btn btn-primary log-in" %>

This button works:
 <%= button_to "Log In", "https://sandbox.orcid.org/oauth/authorize?client_id=#{ENV["ORCID_CLIENT_ID"]}&redirect_uri=https:%2F%2Forcid-staging.princeton.edu%2Fauth%2Forcid%2Fcallback&response_type=code&scope=%2Fauthenticate&show_login=true", class: "btn btn-primary log-in" %>

</div>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
