<h2>Welcome, <%= @user.display_name %></h2>

<!-- If the user doesn't have any tokens, prompt them to create one. -->
<% if @user.tokens.empty? %>
  <%= render 'tokenprompt' %>

<!-- If all of the user's tokens are expired, let them know that and prompt them to create a new one -->
<% elsif @user.tokens_expired? %>
  <%= render 'tokensexpired' %>
  <%= render 'tokenprompt' %>

<!-- If the user has a valid token, show them their ORCID iD and tokens with expiration dates -->
<% else %>
  <%= render @user %>
<% end %>

<%= render 'faqsection' %>

<div id="help-section-user">
  <h2 class="help-contents" id="help-title">Need help?</h2>
  <div class="help-contents" id="help-text">
    <p>If you have questions about the value of having an ORCID iD or how it will be used at Princeton, please contact the <a href="mailto:prds@princeton.edu">Princeton Research Data Service</a>.</p>
  </div>
</div>
