<nav>
<div class="lux">
  <% if current_user %>
    <lux-library-header app-name="ORCID@Princeton" abbr-name="LTR" app-url="<%=root_path%>" theme="dark">
      <lux-menu-bar type="main-menu" :menu-items="[
          {name: '<%= current_user.display_name %>', component: 'Account', href: '/account/', children: [
            {name: 'Profile', component: 'Feedback', href: '<%= user_path(current_user )%> '},
            {name: 'Logout', component: 'Logout', href: '<%= main_app.destroy_user_session_path %> '}
          ]}
        ]"
      ></lux-menu-bar>
    </lux-library-header>
  <% else %>
    <lux-library-header app-name="ORCID@Princeton" abbr-name="LTR" app-url="<%=root_path%>" theme="dark">
    </lux-library-header>
  <% end %>
</div>
</nav>
