<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ORCID</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag 'application' %>

    <%= favicon_link_tag vite_asset_path('images/favicon-32x32.png') %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

    <%= render 'shared/plausible' %>

  </head>

  <body>
    <%= render partial: 'shared/banner' %>
    <%= render partial: 'shared/header' %>
    <main class="container">
      <% if flash[:notice] %>
        <div class="row">
          <div class="col">
            <div class="alert alert-warning" role="alert" ><%= flash[:notice] %></div>
          </div>
        </div>
      <% end %>
      <div class="row">
      <div id="page-header">
        <h1>ORCID@Princeton</h1>
      </div>
        <%= yield %>
      </div>
    </main>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
